<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>

    <!-- copied from home.html -->
    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/font-awesome/all.css"/>
    <script rel="script" src="/js/bootstrap.bundle.js"></script>

</head>
<body>

<header th:insert="navbar::header"></header>

<div class="container">
<div class="row justify-content-md-center">
    <h1>Shopping Cart</h1>
</div>

<table class="table table-hover table-borderless table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">image</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">notes</th>
        <th scope="col">description</th>
        <th scope="col">quantity</th>
        <th scope="col">&nbsp;<a href="/checkout/">
            <button type="button" class="btn btn-primary">Checkout</button>
        </a>
        </th>
        <th scope="col"> <a href="/menu">
            <button type="button" class="btn btn-primary">Return to menu</button>
        </a> </th>
        <th scope="col"> <a href="/cart/clear">
            <button type="button" class="btn btn-secondary">Cancel Order</button>
        </a> </th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="cart : ${Cart}">

        <th scope="row" th:text="${cart.getItem().getImage()}"></th>
        <td th:text="${cart.getItem().getName()}"></td>
        <td th:text="${cart.getItem().getPrice()}"></td>
        <td th:text="${cart.getNotes()}"></td>
        <td th:text="${cart.getItem().getDescription()}"></td>
        <td th:text="${cart.getQuantity()}"></td>

        <!-- A button to remove this item -->
        <td>
            <a th:href="@{'/cart/remove/' + ${cart.getId()}}" class="btn btn-info btn-danger">
                Remove Item
            </a>
        </td>
    </tr>

    </tbody>
</table>
</div>

</body>
</html>