<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title> Home </title>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/font-awesome/all.css"/>
    <script rel="script" src="/js/bootstrap.bundle.js"></script>


</head>
<body>

<header th:insert="navbar::header"></header>

<div class="container">
    
        <h1>Room Service Re-imagined</h1>
        <p>
            Experience the modern age with our sleek new interface for room services.
            The ability to order room service or request assistance from one of our dedicated
            staff members is at now your fingertips. So what are you waiting for?.
        </p>
    </div>
<!--    <div th:replace="fragments/footer :: footer">&copy; 2020 Hotel California Inc.</div>-->
</div>


</body>
</html>