<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title> Home </title>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/font-awesome/all.css"/>
    <script rel="script" src="/js/bootstrap.bundle.js"></script>


</head>
<body>

<header th:insert="navbar::header"></header>

<div class="top-title-panel text-center p-5 mb-3">
    <div class="container">
        <h1><b>   Hotel California Inc.</b></h1>
        <h1><b> Room Service Re-imagined  </b></h1>
        <span>
            <span class="fa fa-tag text-muted ml-2"></span> <a href="/menu" class="text-muted">Menu Page</a>
            <span class="fa fa-tag text-muted ml-2"></span> <a href="#" class="text-muted">Request Assistance</a>
            <span class="fa fa-tag text-muted ml-2"></span> <a href="/cart" class="text-muted">Cart</a>
            <span class="fa fa-tag text-muted ml-2"></span> <a href="/login" class="text-muted">Login</a>
        </span>
    </div>
</div>

<div class="container">

    <div class="mi-sub-section bleed-sub-section t-bg-standard-20 l-margin-subsection-bottom-extraLarge l-margin-tile-vertical-default l-padding-tile-vertical-default l-padding-subsection-vertical-none">

        <div id="HeroImagesafb8">

            <script type="text/mi-context" name="HeroImagesafb8" defer="defer">
                        		      {
                        		        "contents": [
                        		          {"types":["ADT_WRAPPER"],"maxNumRecords":"10","navigation":"true","hotelSpecific":"true","roomSpecific":"[object Object]","navigationFilters":["3587986902","3706742261"],"sorts":[]}
                        		        ],
                        		  	  "contentSpecs": "MarshaSpecific",
                        		  	  "imageAspectRatio": "Feature",
                        		    	  "textColor": ""
                        		      }
                        		      </script>

            <div class="hero-image l-pos-relative" data-property-images-exist="true" data-component-id="HeroImages_01_afb8" data-component-name="heroImages" data-component-endpoint="/aries-hotelinfo/v1/heroImages.comp">
                <meta content="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg">
                <section class="mi-carousel m-hero-image-carousel slick-initialized slick-slider" data-autoplay="false" data-autoplay-speed="2000" data-view-photos="#">
                    <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;"></button>

                    <div aria-live="polite" class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 15000px; left: -778px;" role="listbox">

                            <div class="slider-slide slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
                                <picture class="l-picture-wrapper l-display-block l-max-height mi-lazyLoadImage">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1800px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1600px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1025px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1024px:* , https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg 2x " media="(min-width: 769px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=768px:*" media="(min-width: 601px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=480px:*" media="(max-width: 600px)">
                                    <img class="l-align-center" alt="" src="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*">
                                </picture>
                            </div>

                            <div class="slider-slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option">
                                <picture class="l-picture-wrapper l-display-block l-max-height">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1800px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1600px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1025px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1024px:* , https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg 2x " media="(min-width: 769px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=768px:*" media="(min-width: 601px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=480px:*" media="(max-width: 600px)">
                                    <img src="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" class="l-align-center" alt="">
                                </picture>
                            </div>

                            <div class="slider-slide slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option">
                                <picture class="l-picture-wrapper l-display-block l-max-height mi-lazyLoadImage">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1800px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1600px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1025px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1024px:* , https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg 2x " media="(min-width: 769px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=768px:*" media="(min-width: 601px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=480px:*" media="(max-width: 600px)">
                                    <img class="l-align-center" alt="" src="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-deluxe-corner-6910-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*">
                                </picture>
                            </div>

                            <div class="slider-slide slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option">
                                <picture class="l-picture-wrapper l-display-block l-max-height mi-lazyLoadImage">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1800px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1600px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1025px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1024px:* , https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg 2x " media="(min-width: 769px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=768px:*" media="(min-width: 601px)">
                                    <source data-srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=480px:*" media="(max-width: 600px)">
                                    <img class="l-align-center" alt="" src="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-bar-8012-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*">
                                </picture>
                            </div>

                            <div class="slider-slide slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1">
                                <picture class="l-picture-wrapper l-display-block l-max-height">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1800px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1600px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" media="(min-width: 1025px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1024px:* , https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg 2x " media="(min-width: 769px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=768px:*" media="(min-width: 601px)">
                                    <source srcset="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=480px:*" media="(max-width: 600px)">
                                    <img src="https://cache.marriott.com/marriottassets/marriott/LNSMC/lnsmc-exterior-6913-hor-feat.jpg?output-quality=70&amp;interpolation=progressive-bilinear&amp;downsize=1180px:*" class="l-align-center" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>

                    <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;"></button>
                </section>
                <a href="#" class="l-pos-absolute l-photoGallery-icon view-photos is-hidden-m" data-url="/hotels/photo-tours.mi?marshaCode=lnsmc"> <span class="t-icon-gallery l-pos-absolute"></span><span class="m-position-offscreen">View Photos</span> </a>
            </div>
        </div>

    </div>

    <figure class="home-description">
        <p>
            Experience the modern age with our sleek new interface for room services.
            The ability to order room service or request assistance from one of our dedicated
            staff members is at now your fingertips. So what are you waiting for?
        </p>
    </figure>

</div>

<footer class="footer">
    <div class="container">
        <b>&copy; 2020 Hotel California Inc. </b>
    </div>
</footer>

</body>
</html>