<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="UTF-8">
    <title> Menu Items </title>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="css/font-awesome/all.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script rel="script" src="/js/bootstrap.bundle.js"></script>


</head>
<body>

<header th:insert="navbar::header"></header>

<div class="container">

    <div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}"> </div>


    <div class="row justify-content-md-center">
        <h1>Today's Menu</h1>
    </div>

    <div class="menu-container">
        <div th:each="item_group : ${items}" class="row d-flex flex-row" style="margin-bottom: 2rem">

            <div th:each="item : ${item_group}" class="col-4 card-deck">
                <div th:if="${item.getId() >= 0}" class="menu-item-container card" th:alt="${item.getName()}" data-toggle="modal" th:data-target="${'#mi' + item.getId()}">

                    <img type="image" class="card-img-top img-fluid item-image" th:src="${item.getImage() == null} ? '/images/food.jpg' : ${'/images/' + item.getImage()}" th:alt="${item.getName()}" />

                    <div class="card-body" style="padding: 1.25rem 1.25rem .5rem 1rem;">

                        <div class="card-title display-4" th:text="${item.getName()}" style="font-size: 1.5rem;margin-left: 0; margin-right: 0"></div>

                        <div class="flex-parent">

                            <!--<p class="card-text truncated" th:text="${#strings.abbreviate(item.getDescription(), 60)}" style="margin-left: 0; margin-right: 0"></p>-->
                            <p class="card-text truncated" th:text="${item.getDescription()}" style="margin-left: 0; margin-right: 0"></p>

                        </div>

                    </div>

                    <div class="card-footer btn" th:if="${!item.getAllergens().isEmpty()}" style="background-color: #ffd04f; border-color: #ffd04f;
                    cursor: default; border-radius: 0 0 0.15rem 0.15rem;" data-toggle="tooltip" data-placement="top" th:title="${item.listAllergens()}">
                        Allergens
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade" th:if="${item.getId() >= 0}" th:id="${'mi' + item.getId()}" tabindex="-1" role="dialog" th:aria-labelledby="${item.getId()}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title display-4" id="exampleModalLongTitle" th:text="${item.getName()}" style="font-size: 1.5rem"></div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="margin: 0; padding: 0">
                                <img th:src="${item.getImage() == null} ? '/images/food.jpg' : ${'/images/' + item.getImage()}" class="img-fluid"
                                     style="margin: 0; padding: 0; width: 100%"/>
                                <div style="margin: 1rem;">
                                    <p class="modal-item-description lead" th:text="${item.getDescription()}"></p>

                                    <form action="/menu/addtocart" method="POST" style="font-size: 1rem" class="lead">
                                        <div class="form-group">
                                            <label for="item_qty">Quantity</label>
                                            <input type="number" class="form-control" id="item_qty" name="item_qty" value="1"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="item_notes">Item Notes</label>
                                            <textarea type="text" class="form-control" id="item_notes"
                                                      name="item_notes" placeholder="Item Notes"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" style="display: none;" id="item_id" name="item_id" th:value="${item.getId()}" />
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary" style="width:100%; margin-left: 0; padding-left: 0; font-weight: 200">
                                                <i class="fas fa-shopping-cart" style="margin-right: 0.5rem"></i>
                                                Add To Cart
                                            </button>
                                        </div>
                                    </form>

                                    <div class="allergens" th:unless="${item.getAllergens().isEmpty()}">
                                        <p style="margin-top: 1.25rem; padding-bottom: 0; margin-bottom: 0.5rem;" class="lead">Allergens</p>
                                        <ul class="allergens-list list-group list-group-flush">
                                            <li class="allergen list-group-item lead" style="font-size: 1rem" th:each="allergen : ${item.getAllergens()}" th:text="${allergen.toString()}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div sec:authorize="hasRole('ROLE_STAFF')" th:unless="${item.getId() >= 0}" class="menu-item-container card btn btn-success d-flex" data-toggle="modal"
                     style="background-color: #28a745; border-color: #28a745; min-height: 23rem">
                    <div class="card-body  d-flex align-items-center justify-content-center">
                        <i class="fas fa-plus-circle" style="color: white; font-size: 6rem;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>