<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title> Menu Items </title>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="css/font-awesome/all.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script rel="script" src="/js/bootstrap.bundle.js"></script>


</head>
<body>

<header th:insert="navbar::header"></header>

<div class="container">

    <div class="row justify-content-md-center">
        <h1>Today's Menu</h1>
    </div>

    <div class="row menu-container">
        <div th:each="item : ${items}" class="col-4">

            <div class="menu-item-container" data-toggle="modal" th:data-target="${'#mi' + item.getId()}" th:alt="${item.getName()}">
                <img type="image" class="card-img-top img-fluid item-image" th:src="${item.getImage() == null} ? '/images/food.jpg' : ${'/images/' + item.getImage()}"
                       data-toggle="modal" th:data-target="${'#mi' + item.getId()}" th:alt="${item.getName()}" />

                <div class="card-body">

                    <h5 class="card-title" th:text="${item.getName()}"></h5>

                    <div class="flex-parent">
                        <p class="card-text truncated" th:text="${#strings.abbreviate(item.getDescription(), 40)}"></p>
                    </div>

                    <div class="text-right">
                        <button th:if="${!item.getAllergens().isEmpty()}" type="button" class="alert alert-warning" data-toggle="tooltip" data-placement="top" th:title="${item.listAllergens()}">
                            Allergens
                        </button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#mi' + item.getId()}">
                            View Item
                        </button>
                    </div>
                </div>
            </div>

                <!-- Modal -->
                <div class="modal fade" th:id="${'mi' + item.getId()}" tabindex="-1" role="dialog" th:aria-labelledby="${item.getId()}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle" th:text="${item.getName()}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img th:src="${item.getImage() == null} ? '/images/food.jpg' : ${'/images/' + item.getImage()}" class="img-fluid"/>
                                <p class="modal-item-description" th:text="${item.getDescription()}"></p>

                                <form action="/menu/addtocart" method="POST">
                                    <div class="form-group">
                                        <label for="item_qty">Quantity</label>
                                        <input type="number" class="form-control" id="item_qty" name="item_qty" value="1" >
                                    </div>
                                    <div class="form-group">
                                        <label for="item_notes">Item Notes</label>
                                        <textarea type="text" class="form-control" id="item_notes"
                                                  name="item_notes" placeholder="Item Notes"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" style="display: none;" id="item_id" name="item_id" th:value="${item.getId()}">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" style="width:100%"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
                                    </div>
                                </form>



                                <div class="allergens" th:unless="${item.getAllergens().isEmpty()}">
                                    <p>Allergens</p>
                                    <ul class="allergens-list">
                                        <li class="allergen" th:each="allergen : ${item.getAllergens()}" th:text="${allergen.toString()}"></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

        </div>
    </div>

</div>

</body>
</html>